!!!
%html.colorset-1-light-stripe-bg
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    / @reload
    / @stylesheet normalize style
    / @javascript jquery-1.8.3.min app fittext jquery.color-2.1.2.min
    %link{:href => "<!-- @path favicon.ico -->", :rel => "shortcut icon"}
    %link{:href => "<!-- @path apple-touch-icon.png -->", :rel => "apple-touch-icon"}
    %title VIDEOBALL

  %body
    <object bgcolor='#000000' data='http://www.twitch.tv/widgets/archive_embed_player.swf' height='378' id='clip_embed_player_flash' type='application/x-shockwave-flash' width='620'><param name='movie' value='http://www.twitch.tv/widgets/archive_embed_player.swf'><param name='allowScriptAccess' value='always'><param name='allowNetworking' value='all'><param name='allowFullScreen' value='true'><param name='flashvars' value='auto_play=false&amp;channel=actionbutton&amp;title=VIDEOBALL%2Bpre-beta%2Btesting%2B07212013&amp;chapter_id=2617991&amp;start_volume=25'></object><br><a href="http://www.twitch.tv/actionbutton" class="trk" style="padding:2px 0px 4px; display:block; width: 320px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center;">Watch live video from actionbutton on TwitchTV</a>