.sideline-nav.colorset-1-topstripe
  %header.row
    .large-12.small-centered.columns
      %ul.small-block-grid-2.large-block-grid-5
        %li.colorset-1-toplink
          %a{:href => "#", :onclick => "return false;"} BUY NOW
        %li.colorset-1-toplink
          %a{:href => "#", :onclick => "return false;"} NEWS
        %li.colorset-1-toplink
          %a{:href => "#", :onclick => "return false;"} LIVE STREAMS
        %li.colorset-1-toplink
          %a{:href => "#", :onclick => "return false;"} LEADERBOARDS
        %li.colorset-1-toplink
          %a{:href => "#", :onclick => "return false;"} LOG IN
.videoball-logo-container-stripe.emtop-margin
  .row
    .large-10.large-centered.columns
      %noscript
        .videoball-title
          %a{:href => "#", :onclick => "return false;"}
            %img{:src => "@path logo.png"}
      :javascript
        $('noscript').remove();
      .videoball-title.slide-in
        %a{:href => "#", :onclick => "return false;"}
          %img{:src => "@path logo.png"}